<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Recipe Wizard!</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">Home</li>
            <li><a href="mealHistory">Meal History</a></li>
            <li><a href="recipes">Recipes</a></li>
            <li><a href="ingredients">Ingredients</a></li>
            <li><a href="recipeAdd">Add a Recipe </a></li>
            <li><a href="ingredientAdd">Add an Ingredient</a></li>
        </ul>
    </div>
</nav>

<body>
<div class="container">
    <form method="POST" action="@routes.LoginController.login">
        <label>Username:</label><input type="text" name="username">
        <label>Password:</label><input type="password" name="password">
        <button value type="submit">Login</button>
    </form>
</div>
</body>
</html>