@(recipe : Recipe, mealHistories : List[MealHistoryItem])
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Recipe Wizard!</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="mealHistory">Meal History</a></li>
            <li><a href="recipes">Recipes</a></li>
            <li><a href="ingredients">Ingredients</a></li>
            <li><a href="recipeAdd">Add a Recipe </a></li>
            <li><a href="ingredientAdd">Add an Ingredient</a></li>
        </ul>
    </div>
</nav>


<body>
<div class="container">
<form method="GET" action="@routes.MealHistoryController.getMealHistory">
    <input type="hidden" name="id" id="id" value="@recipe.getRecipeId">
    <div class="row">

    </div>
</form>

<table>
    @for(mealHistory <- mealHistories) {
    <tr>
        <td>
            @mealHistory.getMealMadeDate
            @mealHistory.getRecipeName

        </td>
        }
    </tr>
</table>

</body>
</html>