@(foodArtistForm: FoodArtistForm, errorMessages : List[String])
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">Recipe Wizard!</div>
            <ul class="nav navbar-nav">
                <li><a href="mealHistory">Meal History</a></li>
                <li><a href="recipes">Recipes</a></li>
                <li><a href="ingredients">Ingredients</a></li>
                <li><a href="recipeAdd">Add a Recipe </a></li>
                <li><a href="ingredientAdd">Add an Ingredient</a></li>
            </ul>
        </div>
    </div>
</nav>


<body style="background-color:rgb(197, 200, 204);">
<form method="POST" action="@routes.FoodArtistController.addNewFoodArtist">
    User Name:<input type="text" name="username" id="username"><br>
    First Name:<input type="text" name="firstname" id="firstname" ><br>
    Last Name:<input type="text" name="lastname" id="lastname"><br>
    Password:<input type="password" name="password" id="password"><br>
    <button type="submit">Save Food Artist</button>
</form>
@for(errorMessage <- errorMessages){
<h3>@errorMessage</h3>
}
</body>
</html>