@(recipeForm: RecipeForm, errorMessages : List[String], ingredients : List[Ingredient])
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Recipe Wizard!</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"></li>
            <li><a href="mealHistory">Meal History</a></li>
            <li><a href="recipes">Recipes</a></li>
            <li><a href="ingredients">Ingredients</a></li>
            <li><a href="recipeAdd">Add a Recipe </a></li>
            <li><a href="ingredientAdd">Add an Ingredient</a></li>
        </ul>
    </div>
</nav>
<body>

<form method="POST" action="@routes.RecipeController.addNewRecipe">

    Recipe Name:<input name="recipeName" id="recipeName" value="@recipeForm.recipeName"><br>

    Prep Time:<input type="number" name="recipeTimePrepMinutes" id="recipeTimePrepMinutes" value="@recipeForm.timePrep"><br>
    Cooking Time:<input type="number" name="recipeTimeCookMinutes" id="recipeTimeCookMinutes" value="@recipeForm.timeCook"><br>
    Total Time:<input type="number" name="totalTime" id="totalTime" value="@recipeForm.totalTime"><br>
    Serves:<input type="number" name="serves" id="serves" value="@recipeForm.serves"><br>
    Recipe Instructions:
    <br><textarea name="recipeInstructions" id="instructions" value="@recipeForm.instructions"></textarea><br>
    Source:<input type="text" name="source" id="source" value="@recipeForm.source"><br>





    <select name="ingredientId1" id="ingredientId1">
        <option label=" "></option>
        @for(ingredient <- ingredients){
    <option value="@ingredient.getIngredientId">@ingredient.getIngredientName</option>
    }
</select>

    Amount:<input type="text" name="recipeIngredientAmount1" id="recipeIngredientAmount1">
    <select name="unitMeasure1" id="unitMeasure1">
        <option value="Bunch">Bunch</option>
        <option value="Clove">Clove</option>
        <option value="Cup">Cup</option>
        <option value="Lb">Lb</option>
        <option value="Oz">Oz</option>
        <option value="Piece">Piece</option>
        <option value="Tbsp">Tbsp</option>
        <option value="tsp">tsp</option>
    </select>

    Ingredient Notes:<input type="text" name="ingredientNote1" id="ingredientNote1">
    <button type="submit">Add Ingredient</button><br>

    <select name="ingredientId2" id="ingredientId2">
        <option label=" "></option>
        @for(ingredient <- ingredients){
        <option value="@ingredient.getIngredientId">@ingredient.getIngredientName</option>
        }
    </select>

    Amount:<input type="text" name="recipeIngredientAmount2" id="recipeIngredientAmount2">
    <select name="unitMeasure2" id="unitMeasure2">
        <option value="Bunch">Bunch</option>
        <option value="Clove">Clove</option>
        <option value="Cup">Cup</option>
        <option value="Lb">Lb</option>
        <option value="Oz">Oz</option>
        <option value="Piece">Piece</option>
        <option value="Tbsp">Tbsp</option>
        <option value="tsp">tsp</option>
    </select>

    Ingredient Notes:<input type="text" name="ingredientNote2" id="ingredientNote2">

    <button type="submit">Add Ingredient</button><br>


    <select name="ingredientId3" id="ingredientId3">
        <option label=" "></option>
        @for(ingredient <- ingredients){
        <option value="@ingredient.getIngredientId">@ingredient.getIngredientName</option>
        }
    </select>

    Amount:<input type="text" name="recipeIngredientAmount3" id="recipeIngredientAmount3">
    <select name="unitMeasure3" id="unitMeasure3">
        <option value="Bunch">Bunch</option>
        <option value="Clove">Clove</option>
        <option value="Cup">Cup</option>
        <option value="Lb">Lb</option>
        <option value="Oz">Oz</option>
        <option value="Piece">Piece</option>
        <option value="Tbsp">Tbsp</option>
        <option value="tsp">tsp</option>
    </select>

    Ingredient Notes:<input type="text" name="ingredientNote3" id="ingredientNote3">
    <button type="submit">Add Ingredient</button><br>

    <select name="ingredientId4" id="ingredientId4">

        @for(ingredient <- ingredients){
        <option value="@ingredient.getIngredientId">@ingredient.getIngredientName</option>
        }
    </select>

    Amount:<input type="text" name="recipeIngredientAmount4" id="recipeIngredientAmount4">
    <select name="unitMeasure4" id="unitMeasure4">
        <option value="Bunch">Bunch</option>
        <option value="Clove">Clove</option>
        <option value="Cup">Cup</option>
        <option value="Lb">Lb</option>
        <option value="Oz">Oz</option>
        <option value="Piece">Piece</option>
        <option value="Tbsp">Tbsp</option>
        <option value="tsp">tsp</option>
    </select>

    Ingredient Notes:<input type="text" name="ingredientNote4" id="ingredientNote4">
    <button type="submit">Add Ingredient</button><br>



    <button type="submit">Save Recipe</button>
</form>
@for(errorMessage <- errorMessages){
<h3>@errorMessage</h3>
}


</body>
</html>