@(recipe : Recipe, recipes : List[Recipe], ingredient : Ingredient, ingredeints : List[Ingredient])
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Recipe Wizard!</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="mealhistory.scala.html">Meal History</a></li>
            <li><a href="recipes.scala.html">Recipes</a></li>
            <li><a href="#">Page 3</a></li>
            <li><a href="#">Page 4</a></li>
            <li><a href="#">Page 5</a></li>
            <li><a href="#">Page 6</a></li>
        </ul>
    </div>
</nav>

<body>
<div class="container">
    <form method="POST" action="@routes.RecipeController.updateRecipe">
        <input type="hidden" name="id" id="id" value="@recipe.getRecipeId">
        <div class="row">
            <div class="col-md-6"><h1>
                @recipe.getRecipeName
            </h1></div>
        </div>
        <div class="row">
            <div class="col-md-8"><label>Cook Time: @recipe.getTimeCook</label></div>
            <div class="col-md-8"><label>Prep Time: @recipe.getTimePrep</label></div>
            <div class="col-md-8"><label>Total Time: @recipe.getTotalTime</label></div>
            <div class="col-md-8"><label>Serves: @recipe.getServes</label></div>
            <div class="col-md-8"><br></div>
            <div class="col-md-8"><label>Instructions: @recipe.getInstructions</label></div>
            <div class="col-md-8"><label>Source: @recipe.getSource</label></div>


        </div>
    </form>
</div>
</body>
</html>