@(recipe : Recipe, ingredients : List[IngredientItem])
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Recipe Wizard!</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="recipes">Home</a></li>
            <li><a href="mealHistory">Meal History</a></li>
            <li><a href="recipes">Recipes</a></li>
            <li><a href="ingredients">Ingredients</a></li>
            <li><a href="recipeAdd">Add a Recipe </a></li>
            <li><a href="ingredientAdd">Add an Ingredient</a></li>
        </ul>
    </div>
</nav>

<body>
<div class="container">
    <form method="POST" action="@routes.RecipeController.updateRecipe">
        <input type="hidden" name="id" id="id" value="@recipe.getRecipeId">
        <div class="row">
            <div class="col-md-6"><h1>@recipe.getRecipeName</h1></div>
        </div>
        <div class="row">
            <div class="col-md-4"><label>Total Time:</label> @recipe.getTotalTime</div>
            <div class="col-md-4"><label>Cook Time:</label> @recipe.getTimeCook</div>
            <div class="col-md-4"><label>Prep Time:</label> @recipe.getTimePrep</div>
            <div class="col-md-4"><label>Difficulty:</label> @recipe.getDifficultyRatingId</div>
            <div class="col-md-8"><label>Serves:</label> @recipe.getServes</div><br>
            <div class="col-md-8"><br></div>
            <div class="col-md-8"> <label>Ingredients:</label></div>
            @for(ingredient <- ingredients){
            <div class="col-md-8">@ingredient.getIngredientName @ingredient.getRecipeIngredientAmount @ingredient.getUnitMeasure @ingredient.getIngredientNote</div><br>
            <div class="col-md-8"></div>
                }
            <div class="col-md-8"><br></div>
            <div class="col-md-12"><label>Instructions:</label> @recipe.getInstructions</div><br>
            <div class="col-md-8"><br></div>
        </div>
        <div class="col-md-12"><img src=@{routes.RecipeController.getPicture(recipe.getRecipeId)}></div>
        <div class="col-md-8"><label>Source:</label> @recipe.getSource</div><br>
    </form>
    <div class="container">
    <div class="row">
     <form action="/uploadRecipePicture" method="POST" enctype="multipart/form-data">
        <input type="file" id="filename" name="filename" />
        <input type="hidden" id="id" name="id" value="@recipe.getRecipeId"/>
        <button type="submit">Save Photo</button>
    </form>
    </div>
    </div>
</div>
</body>
</html>